<div class="row">
  <h1>Welcome to Doggie Treats!</h1>
  <p>Home for Austin Dog Lovers</p>
  <h3>What we offer:</h3>
  <ul>
    <li>
      <p>A <%= link_to 'curated list', dog_parks_path %> of local off-leash parks</p>
    </li>
    <li>
      <p><%= link_to 'Found dogs', found_pets_path %> picked up by Austin Animal Center</p>
    </li>
  </ul>
</div>
<p>Servicing the Austin Metro Area since 2016</p>
<%= image_tag 'https://maps.googleapis.com/maps/api/staticmap?center=Austin,TX&zoom=13&size=600x300&maptype=roadmap&key=AIzaSyCWIXoFdSyj7_51JxVihFCUCfnOC4E5qkU' %>