<h1>StaticPages#home</h1>
<%# nil.ok %>
<p>Find me in app/views/static_pages/home.html.erb</p>

<%= image_tag 'https://maps.googleapis.com/maps/api/staticmap?center=Austin,TX&zoom=13&size=600x300&maptype=roadmap&markers=color:red%7Clabel:S%7C30.26424,-97.755943&key=AIzaSyCWIXoFdSyj7_51JxVihFCUCfnOC4E5qkU' %>

<br>

<%= image_tag map(30.26424,-97.755943) %>