 @import 'bootstrap-sprockets';
 @import 'bootstrap';

// Top Nav
 .main-nav {
  background-color: #F0E68C;
  border-radius: 0;
  height: 40px;
  min-height: 0px;
  .navbar-brand {
    height: 25px;
    width: auto;
    padding: 10px 15px;
    img {
      height: 25px;
      width: 25px;
      display: inline-block;
      margin-top: -4px;
    }
    color: #4F7F8C;
    font-weight: 700;
  }
  .navbar-text {
    margin: 10px 15px;
  }
}
.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 75%;
  li {
    float: left;
    text-align: center;
    padding: 9px 0;
    a {
      display: inline-block;
      padding: 0;
      width: 115px;
      color: #222;
      font-size: 18px;
      border-left: 1px solid #555;
      &:hover {
        color: #000;
      }
    }
  }
  .right-nav { 
    float: right;
    color: #000;
    padding-left: 15px;
    &:hover {
      color: #F0E68C;
    }
  }
}


//*** Dog Parks ***//
// index

dt {
  font-size: 22px;
  margin-bottom: 5px;
  margin-top: 35px;
}
dd {
  font-size: 14;
  margin-left: 15px;
}




//*** Found Pets ***//

.found-pets {
  h2 {
    display: inline-block;
  }
  .pagination {
    letter-spacing: 4px;
    display: inline-block;
    text-align: center;
    border-top: 1px solid #aaa;
    width: 100%;
    padding-top: 24px;
  }

  .filter-options {
    display: inline;
    margin-left: 15px;
    word-spacing: 20px;
  }
  p {
    display: inline-block;
    margin-left: 100px;
  }
}